.authorized-view {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
    flex-direction: column;
}

.authorized-view .icon{
    width: 200px;
}

.authorized-view .info {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: var(--primary-color);
    font-size: 17px;
    font-weight: 600;
    padding: 0 20px;
    box-sizing: border-box;
}

.authorized-view .info h2{
    text-align: center;
    margin: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}